# macOS
.DS_Store

# package-managers / deps
node_modules
/node_modules
.pnpm-store

# env / local config
.npmrc
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.old.json
logs
nohup.out
.trace
.tmp
*.log*
.vscode/*.log

# editor / IDE
.idea
.history/
.eslintcache
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# browser / local profiles
.vscode/chrome-user-data
chrome-user-data
.local-browsers/

# app state / secrets
.docker-data
certs/*.pem

# build / compile outputs
/dist
*dist*
dist-*
/build
.output
.data
.nuxt
.nitro
.next/
/.swc/
tsconfig.tsbuildinfo

# docs caches / generated
/docs/.vitepress/cache
docs/1f
docs/react-sdk
docs/other

# misc project dirs / scripts
team-experience
packages/*
drivers/
.android-sdk/
.gradle/
deploy-local.sh
playground-temp
temp

# Meta configuration files
/meta/*.*.json
/meta/*.*.yaml
/meta/*.*.yml
/meta/*.*.xml

# testing
/coverage
/test-results/
/tests/coverage-report
/tests/installation/output/
/tests/installation/.registry.json

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.cache/
